<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1,requiresActiveX=true">
    <meta name="msvalidate.01" content="913BC21D4F263EAE0BCD169181A91416" />
    
    <title>Patrik Fuhrmann - London PHP Developer</title>

    <meta name="robots" content="index,follow" />
    <meta name="keywords" content="patrik, fuhrmann, software, php, engineer, developer, london" />
    <meta name="description" content="Patrik Fuhrmann - PHP developer &amp; software engineering student. Currently studying and living in the London." />
    <meta name="author" content="Patrik Fuhrmann" />
    <meta name="dcterms.audience" content="web" />

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144-precomposed.png">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="canonical" href="http://patrikfuhrmann.com" />
    <link rel="stylesheet" href="public/css/styles.min.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />

    <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-50310392-1', 'patrikfuhrmann.com');
          ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="wrap">
        <!-- /// HEADER  //////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div id="header">
            <div class="row cv-section">
                <div class="span9">
                    <div class="cv-section-title">
                        <a class="magnificPopup" href="public/images/photo.jpg">
                            <img src="public/images/photo_scaled.jpg" width="140" height="140" alt="Patrik Fuhrmann" />
                        </a>
                        <h1>
                            Patrik Fuhrmann
                            <small>PHP Developer</small>
                        </h1>
                    </div><!-- end .cv-section-title -->
                </div><!-- end .span9 -->
                <div class="span3">
                    <div class="cv-item">
                        <div class="social-media fixed">
                            <a href="https://www.linkedin.com/in/patrikfuhrmann" class="linkedin-icon social-icon">
                                <i class="fa fa-linkedin"></i>
                            </a>

                            <a href="https://twitter.com/PatrikFuhrmann" class="twitter-icon social-icon">
                                <i class="fa fa-twitter"></i>
                            </a>

                            <a href="http://patrikfuhrmann.tumblr.com" class="tumblr-icon social-icon">
                                <i class="fa fa-tumblr"></i>
                            </a>

                            <a href="https://uk.pinterest.com/fuhrmannpatrik" class="pinterest-icon social-icon">
                                <i class="fa fa-pinterest"></i>
                            </a>

                            <a href="https://github.com/pfuhrmann" class="github-icon social-icon">
                                <i class="fa fa-github"></i>
                            </a>

                            <a href="https://plus.google.com/+PatrikFuhrmann" class="googleplus-icon social-icon">
                                <i class="fa fa-google-plus"></i>
                            </a>

                            <a href="http://stackoverflow.com/users/1885946/patrik-fuhrmann" class="stack-overflow-icon social-icon">
                                <i class="fa fa-stack-overflow"></i>
                            </a>
                        </div>

                        <p class="last">
                            <span class="hidden-tablet">Phone: </span>+447426255540 (UK)
                        </p>

                    </div><!-- end .cv-item -->

                </div><!-- end .span3 -->
            </div><!-- end .cv-section -->
        </div><!-- end #header -->
        <!-- /// END HEADER ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <!-- /// CONTENT  /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div id="content">
            <div class="row cv-section">
                <div class="span3">
                    <div class="cv-section-title">
                        <h2>Professional Profile</h2>
                    </div><!-- end .cv-section-title -->
                </div><!-- end .span3 -->

                <div class="span9">
                    <div class="cv-item">
                        <p>Experienced software developer with main interest in the mobile and distributed systems. Specializing in PHP and MySQL driven systems, however no stranger to Node.js and MongoDB/Redis back-ends. I can code also fluently in Java and acceptably in C#. Furthermore, I have substantial experience in the cloud Linux management having been responsible for the administration of the various production servers.</p>

                        <p class="last"><strong>Specialization:</strong> LEMP/LAMP, developing and interfacing with REST APIs, PHP profiling and optimization</p>
                    </div><!-- end .cv-item -->
                </div><!-- end .span9 -->
            </div><!-- end .cv-section -->

            <div class="row cv-section">
                <div class="span3">
                    <div class="cv-section-title">
                        <h2>Work Experience</h2>      
                    </div><!-- end .cv-section-title -->
                </div><!-- end .span3 -->

                <div class="span9">
                    <div class="cv-item">
                        <p class="period">August 2014 - January 2015</p>

                        <h3><strong>PHP Developer (Symfony)</strong></h3>
                        <h4>LendInvest, Full-Time</h4>

                        <br />

                        <ul class="fill-circle">
                            <li>Building next-gen P2P lending platform using PHP Symfony2 framework</li>
                            <li>Creating BDD (Behavior-driven development) testing suite using Behat 3</li>
                            <li>Integration of internal system with Amazon S3 storage service</li>
                            <li>Part of the bigger agile team, using lightweight Scrum methodology and some processes from XP</li>
                        </ul>
                        
                    </div><!-- end .cv-item -->
                    
                    <div class="cv-item">
                        <p class="period">July 2014 - August 2014</p>

                        <h3><strong>Lead PHP Developer (Laravel)</strong></h3>
                        <h4>Hambro Perks, Part-Time</h4>

                        <br />

                        <ul class="fill-circle">
                            <li>Using PHP Laravel 4 to develop custom back-end CMS system</li>
                            <li>Creating client-side javascript rich functionality using AJAX, JQuery and Bower package management</li>
                            <li>Managing remote servers and code deployments (digitalocean remote boxes)</li>
                        </ul>
                    </div><!-- end .cv-item -->

                    <div class="cv-item">
                        <p class="period">May 2014 - June 2014</p>

                        <h3><strong>Software Engineer (Node.js / PHP)</strong></h3>
                        <h4>entrago, Part-Time</h4>

                        <br />

                        <ul class="fill-circle">
                            <li>Early-stage startup, celebrity channels for fans</li>
                            <li>Rewriting API from Node.js to PHP (Laravel 4.2)</li>
                            <li>Maintaining large Node.js application (Hatch.js framework)</li>
                            <li>Working with sizeable Redis database (100+ GB)</li>
                            <li>Enhancing analytics system based on the PHP Zend Framework 2</li>
                            <li>Development done under agile environment (Kanban)</li>
                        </ul>
                    </div><!-- end .cv-item -->

                    <div class="cv-item">
                        <p class="period">October 2013 – March 2014</p>

                        <h3><strong>PHP Developer (Laravel)</strong></h3>
                        <h4>Anaxion, Part-Time</h4>

                        <br />

                        <ul class="fill-circle">
                            <li>Early-stage mobile marketing startup, reporting directly to business owner</li>
                            <li>Built JSON REST API server which was successfully utilized in the Android application</li>
                            <li>Created automated billing system based on QuickFile and GoCardless APIs</li>
                            <li>Managing production DigitalOcean cloud Linux servers (LAMP and image processing boxes)</li>
                            <li>Developing custom CMS using components from the PHP Laravel 4 framework together with MVC approach</li>
                            <li>Utilizing Twitter Bootstrap to make experience fluid on the mobile devices</li>
                            <li>Unit testing as part of the TDD (Test-driven development), using PHPUnit</li>
                            <li>Setting up GIT version control system and whole deployment environment</li>
                        </ul>
                    </div><!-- end .cv-item -->

                    <div class="cv-item">
                        <p class="period">October 2012 – November 2012</p>

                        <h3><strong>PHP Developer</strong></h3>
                        <h4>TDE Solutions Ltd, Part-Time</h4>

                        <br />

                        <ul class="fill-circle">
                            <li>Private company providing SaaS solutions for cinema industry</li>
                            <li>Creating e-commerce product from scratch, based on custom PHP framework</li>
                            <li>Coding of the styles provided by graphic designer</li>
                        </ul>
                    </div><!-- end .cv-item -->

                    <div class="cv-item">
                        <p class="period">April 2012 – October 2012</p>

                        <h3><strong>PHP Developer</strong></h3>
                        <h4>Meika Ltd, Full-Time</h4>

                        <br />

                        <ul class="fill-circle">
                            <li>Biggest UK online gardening retailer
                            <li>Maintained multiple eCommerce systems as part of the Agile team (Scrum method)</li>
                            <li>Finding bottlenecks in performance by profiling/debugging PHP code. Reduction of SQL queries by 75%.</li>
                            <li>Created reporting back-end system that was used for monitoring of the team performance</li>
                            <li>Developed custom payment plugin which was successfully deployed on several e-Shops around the Europe</li>
                            <li>Worked on a high-traffic web applications with huge amount of data</li>
                        </ul>
                    </div><!-- end .cv-item -->
                </div><!-- end .span9 -->
            </div><!-- end .cv-section -->

            <div class="row cv-section">
                <div class="span3">
                    <div class="cv-section-title">
                        <h2>Technical Skills</h2>
                    </div><!-- end .cv-section-title -->
                </div><!-- end .span3 -->
                <div class="span9">

                    <div class="cv-item fixed">
                        <div class="pie-chart" data-percent="90" data-barColor="#fdb020" data-trackColor="#e0e0e0" data-lineWidth="4" data-barSize="160">
                            <div class="pie-chart-percent">
                                <span></span>
                                %
                            </div><!-- end .pie-chart-percent -->
                        </div><!-- end .pie-chart -->

                        <div class="pie-chart-description">
                            <h3 class="text-uppercase"><strong>PHP</strong></h3>
                            <p>Experienced, 4 Years</p>
                            
                            <p class="last">Coding in PHP since 2005. Started commercially around 2011 by creating custom advertisement system for client in Slovakia. PHP development is what makes my living. Usually coding with frameworks such as Laravel or Symfony.</p>
                        </div><!-- end .pie-chart-description -->
                    </div><!-- end .cv-item -->

                    <div class="cv-item fixed"> 
                        <div class="pie-chart" data-percent="73" data-barColor="#fdb020" data-trackColor="#e0e0e0" data-lineWidth="4" data-barSize="160">
                            <div class="pie-chart-percent">
                                <span></span>
                                %
                            </div><!-- end .pie-chart-percent -->
                        </div><!-- end .pie-chart -->

                        <div class="pie-chart-description">
                            <h3><strong>JavaScript</strong></h3>
                            <p>Advanced, 2 Years</p>
                            
                            <p class="last">I like JavaScript as a language, however it must be written very carefully in order to prevent callback hell in bigger codebases. Also used JQuery extensively, mainly its AJAX component.</p>
                        </div><!-- end .pie-chart-description -->
                    </div><!-- end .cv-item -->

                    <div class="cv-item fixed">
                        <div class="pie-chart" data-percent="60" data-barColor="#fdb020" data-trackColor="#e0e0e0" data-lineWidth="4" data-barSize="160">
                            <div class="pie-chart-percent">
                                <span></span>
                                %
                            </div><!-- end .pie-chart-percent -->
                        </div><!-- end .pie-chart -->

                        <div class="pie-chart-description">
                            <h3><strong>Node.js</strong></h3>
                            <p>Intermediate, 1 Year</p>

                            <p>Node.js is awesome for quick I/O operations. I have experienced it in huge, production codebases and boy, was it hell (viz. problem with JS above). Experience with Express.js, Hatch.js, Mongoose and many other libs.</p>
                        </div><!-- end .pie-chart-description -->
                    </div><!-- end .cv-item -->

                    <div class="cv-item fixed">
                        <div class="pie-chart" data-percent="68" data-barColor="#fdb020" data-trackColor="#e0e0e0" data-lineWidth="4" data-barSize="160">
                            <div class="pie-chart-percent">
                                <span></span>
                                %
                            </div><!-- end .pie-chart-percent -->
                        </div><!-- end .pie-chart -->

                        <div class="pie-chart-description">
                            <h3><strong>Java (Android)</strong></h3>
                            <p>Intermediate</p>

                            <p>While I have no commercial experience with Java, I have created several desktop systems as part of my degree. Active development of Android applications (links coming soon).</p>
                        </div><!-- end .pie-chart-description -->
                    </div><!-- end .cv-item -->

                    <div class="cv-item fixed">
                        <div class="pie-chart" data-percent="55" data-barColor="#fdb020" data-trackColor="#e0e0e0" data-lineWidth="4" data-barSize="160">
                            <div class="pie-chart-percent">
                                <span></span>
                                %
                            </div><!-- end .pie-chart-percent -->
                        </div><!-- end .pie-chart -->

                        <div class="pie-chart-description">
                            <h3><strong>C#</strong></h3>
                            <p>Intermediate</p>

                            <p>University experience (no commercial). Academic level knowledge of syntax, .NET, MVC, EF, web services and some more. Created windows form applications and distributed systems using C# as part of my software engineering degree.</p>
                        </div><!-- end .pie-chart-description -->
                    </div><!-- end .cv-item -->

                </div><!-- end .span9 -->
            </div><!-- end .cv-section -->
            
            <div class="row cv-section">
                <div class="span3">
                    <div class="cv-section-title">
                        <h2>Education</h2>
                    </div><!-- end .cv-section-title -->
                </div><!-- end .span3 -->

                <div class="span9">
                    <div class="cv-item">
                        <p class="period">2012 - 2015</p>

                        <h3><strong>University of Greenwich</strong></h3>
                        <h4>Bachelor of Engineering (BEng), Software Engineering</h4>

                        <br />

                        <p class="last">Software engineering (SE) is applying of engineering principles in the process of software development. This course gave me academic level understanding of history, issues and tools which are used in the modern day SE. Some of the modules with results are bellow:</p>

                        <br />

                        <ul class="fill-circle">
                            <li>Application &amp; Web Development (95%)</li>
                            <li>Computer programming (88%)</li>
                            <li>Analytical methods for Computing (87%)</li>
                            <li>Computer systems Architecture (87%)</li>
                            <li>Communication systems (87%)</li>
                            <li>Advanced Programming (84%)</li>
                            <li>Computer Algorithms and Modelling (83%)</li>
                            <li>System building (81%)</li>                   
                        </ul>
                    </div><!-- end .cv-item -->
                </div><!-- end .span9 -->
            </div><!-- end .cv-section -->
        </div><!-- end #content -->
        <!-- /// END CONTENT //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

        <!-- /// FOOTER     ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
        <div id="footer">
             <div class="row">
                <div class="span12">
                    <div class="cv-contact">
                        <div class="cv-contact-toggle">
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                            </a>
                        </div><!-- end .cv-contact-toggle -->

                        <div class="cv-section-title">
                            <h2>Contact Form</h2>
                        </div><!-- end .cv-section-title -->

                        <p>Please don't hesitate to contact me using form bellow.</p>

                        <form class="fixed" id="contact-form"  name="contact-form" method="post" action="/email"> 
                            <fieldset>
                                <div id="formstatus"></div>
                                <input id="name" type="text" name="name" value="" placeholder="Name">
                                <input id="email" type="text" name="email" value="" placeholder="Yout email">
                                <input id="subject" type="text" name="subject" value="" placeholder="Subject">
                                <textarea id="message" name="message" rows="50" cols="25" placeholder="Message"></textarea>
                                <input id="submit" type="submit" name="submit" value="Send!">
                            </fieldset>
                        </form>

                    </div><!-- end .cv-contact -->

                    <h4 class="copyright">&copy; 2015 <a href="/" title="Patrik Fuhrmann - PHP Web Developer">Patrik Fuhrmann</a>. <span class="hidden-phone">All rights reserved.</span></h4>

                </div><!-- end .span12 -->
            </div><!-- end .row -->
        </div><!-- end #footer -->
        <!-- /// END FOOTER /////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    </div><!-- end #wrap -->

    <a id="back-to-top" href="#">
        <i class="fa fa-angle-up"></i>
    </a>

    <a id="print" href="javascript:window.print()" title="Print the CV">
        <i class="fa fa-print"></i>
    </a>

    <a id="pdf" href="https://docs.google.com/document/d/1w61LmASJKqxq3GlSM3MEt5suOcdPo5lGjwCKYKqrvrY/export?format=pdf" title="Download CV as a .pdf">
        <i class="fa fa-download"></i>
    </a>

    <script src="public/js/main.min.js"></script>
</body>
</html>
