{% extends "base.html.twig" %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-10 column">
            <p>Click <strong><a href="./index.php">here</a></strong> for a list of levels completed.</p>

            <h1>Portal Search (Level 4)</h1>

            <p>To test the operation using the HTTP POST protocol, click the 'Invoke' button.</p>
            <form method="POST" action="index.php?uri={{ uri }}" target="_blank">
            <table class="table">
            <thead>
                <tr>
                    <td><strong>Parameter</strong></td>
                    <td><strong>Value</strong></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Type:</td>
                    <td><input name="type" type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Sort:</td>
                    <td><input name="sort" type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Limit:</td>
                    <td><input name="limit" type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td>Page:</td>
                    <td><input name="page" type="text" class="form-control" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Invoke" class="btn btn-primary" /></td>
                </tr>
            </tbody>
            </table>
            </form>
        </div>
    </div>
{% endblock %}
