{% extends "base.html.twig" %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <p><strong>Portal Search (XML)</strong> (Level 4)</p>

        <ul>
            <li><a href="index.php?uri=test-search-xml">Test</a></li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-10 column">
        <p><strong>Portal Result Display</strong> (Level 5)</p>

        <ul>
            <li><a href="index.php?uri=search-display">Test</a></li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-10 column">
        <p><strong>Portal Search Display XSLT</strong> (Level 6)</p>

        <ul>
            <li><a href="index.php?uri=search-display-xslt">Server-side</a></li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-10 column">
        <p><strong>Ajax Portal</strong> (Level 7)</p>

        <ul>
            <li><a href="index.php?uri=search-display-ajax">Test</a></li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-10 column">
        <p><strong>Bromley Service (Node.js/MongoDB)</strong> (Level 8)</p>

        <ul>
            <li>
                Service
                <ul>
                    <li><a href="index.php?uri=test-bromley-sitters">Sitters</a></li>
                    <li><a href="index.php?uri=test-bromley-sitter-details">Sitter Details</a></li>
                </ul>
            </li>
            <li>
                Integration
                <ul>
                    <li><a href="index.php?uri=test-search-xml-bromley">Integrated XML Search (Level 4)</a></li>
                    <li><a href="index.php?uri=search-display-bromley">Integrated Portal (Level 5)</a></li>
                    <li><a href="index.php?uri=search-display-ajax-bromley">Integrated Ajax Portal (Level 7)</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
