{% extends "base.html.twig" %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <p><strong>Portal Search (XML)</strong> (Level 4)</p>

        <ul>
            <li><a href="index.php?uri=test-search-xml">Test</a></li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-10 column">
        <p><strong>Portal Result Display</strong> (Level 5)</p>

        <ul>
            <li><a href="index.php?uri=search-display">Test</a></li>
        </ul>
    </div>
</div>

<div class="row clearfix">
    <div class="col-md-10 column">
        <p><strong>Portal Search Display</strong> (Level 6)</p>

        <ul>
            <li><a href="index.php?uri=search-display-xslt">Server-side</a></li>
            <li><a href="index.php?uri=test-xslt-server">Client-side</a></li>
        </ul>
    </div>
</div>
{% endblock %}
