{% extends "base.html.twig" %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-10 column">
            <p><strong>Portal Search (XML)</strong> (Level 4)</p>

            <ul>
                <li><a href="index.php?uri=test-search">Test</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
