{% extends "base.html.twig" %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-10 column">
            <p><strong>.NET Web Services</strong> (Level 1)</p>

            <ul>
                <li><a href="http://stuiis.cms.gre.ac.uk/fp202/SittersService.asmx">SittersService</a></li>
            </ul>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-10 column">
            <p><strong>PHP Web Services</strong> (Level 2)</p>

            <ul>
                <li><a href="index.php?uri=test-sitters">Sitters</a></li>
                <li><a href="index.php?uri=test-sitter-detail">SitterDetail</a></li>
            </ul>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-10 column">
            <p><strong>Portal Search</strong> (Level 3)</p>

            <ul>
                <li><a href="index.php?uri=test-search">Search</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
