{% extends "base.html.twig" %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-10 column">
            <p>The following operations are supported.</p>

            <ul>
                <li><a href="index.php?uri=test-sitters">Sitters</a></li>
                <li><a href="index.php?uri=test-sitter-detail">SitterDetail</a></li>
            </ul>
        </div>
    </div>
{% endblock %}